 <div class="container">
    <div class="holder left">
        
          <div class="title">
               <h2>What's Trending</h2>
            </div>
          
          
          
          
          
          
          
          <div class="results"> <p> <a href="#"> Rule Change </a> - NBA -- Section VIII—Traveling: I want a rule changed so you don't even have to dribble </p></div>
          <div class="results"> <p>  <a href="#"> Rule Addition </a> - NFL -- Catch: I suggest a new rule where a player catches the ball if he's hands are around the ball</p></div>
          <div class="results"> <p>  <a href="#"> Rule Addition </a> --- MLB -- Section VIII—Traveling </p></div>
          <div class="results"> <p>  <a href="#"> Rule Change </a>--- NBA -- Section VIII—Traveling </p></div>
          <div class="results"> <p>  <a href="#"> Rule Change </a> --- NHL Section VIII—Traveling </p></div>
          <div class="results"> <p>  <a href="#"> Rule Change </a> --- NBA -- Section VIII—Traveling </p></div>
          <div class="results"> <p> <a href="#"> Rule Change </a> --- MLB -- Section VIII—Traveling </p></div>
          <div class="results"> <p>  <a href="#"> Rule Addition </a> --- NBA -- Section VIII—Traveling </p></div>
          <div class="results"> <p>  <a href="#"> Rule Change </a> --- NBA -- Section VIII—Traveling </p></div>
    </div>